* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.footer {
  height: 4rem;
  width: 100%;
  background-color: #0e0e0f;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  &__link-container {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  &__icon {
    object-fit: fill;
    width: 1.03rem;
    height: auto;
    margin-top: 0.3rem;
  }
  &__plus-icon {
    object-fit: cover;
    height: 0.7rem;
    margin-top: 0.6rem;
  }
  &__header {
    filter: invert(96%) sepia(1%) saturate(2056%) hue-rotate(314deg)
      brightness(80%) contrast(92%);
    font-size: 0.6rem;
    margin: 0;
    // filter: grayscale(100%);
  }
}
.zoom {
  width: 60px;
  height: 60px;
  border-radius: 75px;
  cursor: pointer;
  background-color: rgb(185, 50, 176);
  text-align: center;
  transition: transform 0.2s;
  z-index: 100;
  background: radial-gradient(
    circle at 100px 100px,
    rgb(185, 50, 176),
    #820fe5
  );
}

.zoom:hover {
  transform: scale(1.5);
}
